#root {
  height: 100vh;
}

.MuiTypography-root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

/* Calendar */
.rbc-calendar {
  /* background: white; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.rbc-event {
  background-color: #e8f0ff !important;
  border-width: 1px !important;
  border-color: #fafafb !important;
  color: #3b5dbf !important;
  transition: 0.3s;
  /* height: min-content !important; */
}

.rbc-event:active,
.rbc-event:focus {
  background-color: #e8f0ff !important;
  border-width: 1px !important;
  border-color: #fafafb !important;
  color: #3b5dbf !important;
}

.rbc-event-label {
  display: none;
}

.rbc-time-content > .rbc-day-slot > .rbc-events-container > .rbc-event:hover {
  min-width: max-content;
  z-index: 10;
  transform: scale(1.05);
}

.rbc-row-segment {
  transition: 0.3s;
}

.rbc-row-segment:hover > .rbc-event {
  min-width: min-content;
  transform: scale(1.05);
}

.rbc-timeslot-group {
  min-height: 4em;
}

.rbc-allday-cell {
  display: none;
}
.rbc-time-view .rbc-header {
  border-bottom: none;
}

.rbc-current-time-indicator {
  background-color: #3b5dbf;
  width: 100%;
  height: 2px;
}

/* AppointmentDialog */
.MuiInputBase-input {
  height: auto;
  font-size: 1rem;
}
