#root {
  height: 100vh;
}

.MuiTypography-root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

a,
a:visited {
  color: #3b5dbf;
}

/* AppointmentDialog */
.MuiInputBase-input {
  height: auto;
  font-size: 1rem;
}

@media print {
  .print-only {
    display: flex !important;
  }
}
