.rbc-calendar {
  /* background: white; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.rbc-events-container {
  background-color: transparent;
}

.rbc-event {
  background-color: var(--palette-background-event) !important;
  border-width: 1px !important;
  border-color: var(--palette-common-white) !important;
  color: var(--palette-text-event) !important;
  transition: 0.3s;
  min-height: 2em !important;
}

.rbc-event:active,
.rbc-event:focus {
  background-color: var(--palette-background-event) !important;
  border-width: 1px !important;
  border-color: var(--palette-common-white) !important;
  color: var(--palette-text-event) !important;
}

.rbc-event-label {
  display: none;
}

.rbc-row-segment {
  transition: 0.3s;
}

.rbc-timeslot-group {
  min-height: 5em;
}

.rbc-time-slot {
  border: 1px solid transparent !important;
}

.rbc-allday-cell {
  display: none;
}
.rbc-time-view .rbc-header {
  border-bottom: none;
}

.rbc-current-time-indicator {
  background-color: var(--palette-text-event);
  width: 100%;
  height: 2px;
}

.rbc-toolbar-label {
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--palette-text-event);
}

/* Slot when selected */
.rbc-day-slot .rbc-slot-selection {
  opacity: 0.7;
  background-color: var(--palette-background-secondary);
  color: var(--palette-text-secondary);
  font-weight: 700;
  font-size: small;
  border-radius: 5px;
}
