.rbc-calendar {
  /* background: white; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.rbc-events-container {
  background-color: transparent;
}

.rbc-event {
  background-color: var(--palette-background-event) !important;
  color: var(--palette-text-primary) !important;
  border: 0.5px solid var(--palette-text-eventBorder) !important;
  border-left: 3px solid var(--palette-text-event) !important;
  transition: 0.3s;
  min-height: 2em !important;
  padding: 0.5em !important;
}

.rbc-event:hover {
  color: var(--palette-text-event) !important;
}

.rbc-addons-dnd-drag-preview,
.rbc-event:active,
.rbc-event:focus {
  border: 1px solid var(--palette-text-event) !important;
  border-left: 3px solid var(--palette-text-event) !important;
  color: var(--palette-text-event) !important;
  transform: scale(1.05);
}

.rbc-event-label {
  display: none;
}

.rbc-row-segment {
  transition: 0.3s;
}

.rbc-timeslot-group {
  min-height: 70px;
}
.rbc-time-header .rbc-label {
  padding: 0;
}

.rbc-time-slot {
  border: 1px solid transparent !important;
}

.rbc-allday-cell {
  display: none;
}
.rbc-time-view .rbc-header {
  border-bottom: none;
}

.rbc-time-view {
  border-radius: 12px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.rbc-current-time-indicator {
  background-color: var(--palette-text-secondary);
  width: 100%;
  height: 2px;
}

.rbc-current-time-indicator::before {
  content: "";
  background-color: var(--palette-text-secondary);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  right: 0;
}

.rbc-toolbar-label {
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--palette-text-event);
}

/* Slot when selected */
.rbc-day-slot .rbc-slot-selection {
  opacity: 0.7;
  background-color: var(--palette-background-secondary);
  color: var(--palette-text-secondary);
  font-weight: 700;
  font-size: small;
  border-radius: 5px;
}
