.visit-status-dropdown .p-dropdown-label {
  padding: 0;
}

.visit-status-dropdown {
  border: none;
}

.visit-status-dropdown .p-dropdown-trigger {
  color: inherit;
  width: 1.5rem;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  padding: 0.4rem !important;
}
